<div class="container text-center jumbotron">
  <h1 class="fade-in">Aaron Zipursky</h1>
  <h2 class="fade-in">Student. Developer. Visionary.</h2>
  <a class="fade-in" href="http://www.linkedin.com/in/AaronZipursky">
    <img src="images/linkedin-official.png" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
  </a>
  <a class="fade-in" href="mailto:zipursky@u.northwestern.edu">
    <img src="images/mail.png" alt="HTML tutorial" style="width:42px;height:42px;border:0;">
  </a>
</div>
